.box{
    /* border: */
}
input{
    outline: none;
    height: 40px;
    width: 300px;
    font-size: 35px;
    color: deeppink;
}
body{
    background-color: deeppink; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;  
}
button {
    height: 46px;
    width: 120px;
    font-size: 35px;
    color:gray;
}
button:hover {
    transform: scale(1.2);
    height: 46px;
    width: 120px;
    color:deeppink;
}
input:hover {
    transform: scale(1.1);
}
