.box{
    border:
}
input{
    outline: none;
    height: 20px;
    width: 200px;
}
body{
    background-color: deeppink; 
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;  
}